@model Quiz
@{
    Layout = "_CustomQuiz";
    ViewData["Title"] = "Quiz";
    ViewData["Quizz"] = "active";
    ViewData["SubTitle"] = "Do Quiz";
}

<div class="row">
    <div class="col-12">
        <div class="card p-3">
            <div class="border-bottom">
                <div>
                    <h3>@Model.Title</h3>
                </div>
                <div>
                    <strong>Pass Score: </strong> @Model.PassScore
                </div>
                <div>
                    <strong>End Time: </strong>
                    @if (Model.EndAt is null)
                    {
                        <span>@Html.Raw("No limit")</span>
                    }
                    else
                    {
                        <span>@Model.EndAt</span>
                    }
                </div>
            </div>
            <div>
                <form asp-action="SubmitAnswer" asp-controller="Quiz" asp-route-takeQuizId="@ViewBag.TakeQuiz.TakeQuizId" method="post">
                    @{
                        int counter = 1;
                    }
                    @foreach (var question in Model.Questions)
                    {
                        <div>
                            <div>
                                <div>
                                    <strong>Question @(counter++). </strong>@question.Content
                                </div>
                                <div class="d-flex justify-content-end">
                                    <span class="badge badge-primary bg-gradient-info">@question.Score Point</span>
                                </div>
                            </div>
                            @foreach (var answer in question.Answers)
                            {
                                <div class="mx-3">
                                    <input name="selectAnswers" value="@question.QuestionId-@answer.AnswerId" type="checkbox" />
                                    <span>@answer.Content</span>
                                </div>
                            }
                        </div>
                    }
                    <div class="d-flex justify-content-evenly">
                        <button class="btn btn-success" type="submit">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>