@model List<TakeQuiz>
@{
    ViewData["Title"] = "Quiz History";
    ViewData["SubTitle"] = "Manage Quiz";
    ViewData["QuizHistory"] = "active";

    Layout = "_CustomQuiz";
}

@section searchbox {
    <form asp-controller="Quiz" asp-action="ViewQuizResult" method="post">
        <div class="input-group">
            <span style="z-index: 1;" class="input-group-text text-body">
                <i class="fas fa-search" aria-hidden="true"></i>
            </span>
            <input name="txtsearch" type="text" class="form-control" placeholder="Search" required>
        </div>
    </form>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <table class="table">
                <thead>
                    <tr>
                        <th>Quiz</th>
                        <th>Start</th>
                        <th>Finish</th>
                        <th>Review</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var takeQuiz in Model)
                    {
                        <tr>
                            <td>@takeQuiz.Quiz.Title</td>
                            <td>@takeQuiz.StartAt</td>
                            @if (takeQuiz.FinishAt is null)
                            {
                                <td>
                                    <span class="text-danger">Not Submit</span>
                                    <span> | </span>
                                    <a class="badge badge-sm bg-gradient-faded-success" asp-controller="Quiz" asp-action="DoQuizInProcess" asp-route-takeQuizId="@takeQuiz.TakeQuizId">Resume!</a>
                                </td>
                                <td>
                                    @Html.Raw(" ")
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span>@takeQuiz.FinishAt</span>
                                </td>
                                <td>
                                    <a class="badge badge-sm bg-gradient-faded-primary" asp-controller="Quiz" asp-action="Review" asp-route-id="@takeQuiz.TakeQuizId">Review</a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
